[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pdSpecEst"]
	path = pdSpecEst
	url = https://github.com/jorischau/pdspecest
	shallow = true
	registered = true
[submodule "rrapply"]
	path = rrapply
	url = https://github.com/jorischau/rrapply
	shallow = true
	registered = true
